---
# Installed products
payor_installed: {{ payor_installed | default("Not Installed") }}
connector_installed: {{ connector_installed | default("Not Installed") }}
answers_installed: {{ answers_installed | default("Not Installed")  }}
iway_installed: {{ iway_installed | default("Not Installed")  }}
caremanager_installed: {{ caremanager_installed | default("Not Installed")  }}
pik_installed: {{ pik_installed | default("Not Installed") }}

# Server Count
payor_server_count: {{ payor_server_count | default(0) }}
connector_server_count: {{ connector_server_count | default(0) }}
answers_server_count: {{ answers_server_count | default(0) }}
iway_server_count: {{ iway_server_count | default(0) }}
caremanager_server_count: {{ caremanager_server_count | default(0) }}
pik_server_count: {{ pik_server_count | default(0) }}
